* {
  padding: 0;
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
}
.first {
  box-shadow: 0 10px 10px gray;
  width: 1350px;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30rem;
}
.qq {
  top: 0;
  padding-bottom: 1rem;
  position: fixed;
  background-color: white;
  z-index: 1;
}
.head-div {
  display: flex;
  height: 150px;
  width: 600px;
  justify-content: space-around;
  align-items: center;
}
.imgone {
  width: 125px;
  height: 125px;
}
.arc {
  font-size: 5rem;
  color: rgb(28, 124, 161);
  text-shadow: 5px 0 10px gray;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.forlink {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 125%;
}
.link {
  text-decoration: none;
}
.second {
  margin-top: 150px;
}
.ww {
  padding-bottom: 1rem;
}
.best {
  font-size: 3rem;
  width: 35rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(8, 8, 59);
}
.big {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 90%;
}
.orange-one {
  background-color: orangered;
  width: 150px;
  padding: 25px;
  text-align: center;
  border-radius: 40px;
  box-shadow: 0 0 20px orangered;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.orange-two {
  background-color: orangered;
  width: 150px;
  padding: 25px;
  text-align: center;
  border-radius: 40px;
  box-shadow: 0 0 20px orangered;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.orange-three {
  background-color: orangered;
  width: 150px;
  padding: 25px;
  text-align: center;
  border-radius: 40px;
  box-shadow: 0 0 20px orangered;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.linkone {
  text-decoration: none;
  color: black;
}
.ten {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 275%;
  border-bottom: 2px solid black;
  width: 30px;
  color: rgb(8, 8, 59);
}
.hrone {
  width: 250px;
}
.yy {
  font-size: 150%;
  font-family: "Times New Roman", Times, serif;
  color: rgb(8, 8, 59);
  font-size: large;
  padding-right: 50px;
}
.fourth {
  display: flex;
  justify-content: left;
}
.imgfree {
  width: 700px;
  height: 515px;
  padding-top: 7rem;
  padding-left: 40px;
  filter: drop-shadow(5px 5px 10px gray);
}
.gg {
  display: flex;
}
.mainin {
  display: flex;
  flex-direction: row;
}
.secindmain {
  padding-top: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.we {
  font-size: 225%;
  color: rgb(8, 8, 59);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.centerimg {
  width: 125px;
  height: 190px;
  /* filter: drop-shadow(5px 5px 10px gray); */
}
.find {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
}
.linkfont {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(79, 63, 224);
}
.mainthird {
  padding-top: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.imgsame {
  width: 525px;
  height: 475px;
  position: absolute;
  padding-top: 2rem;
}
.imgsametwo {
  width: 525px;
  height: 475px;
  position: relative;
  padding-left: 5rem;
}

.wwe {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 250%;
}
.interior {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(8, 8, 59);
  font-size: large;
}
.interiortwo {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(8, 8, 59);
  font-size: large;
}

.mmm {
  padding-top: 1rem;
}
.mmm-one {
  padding-top: 1rem;
}
.linkone {
  text-decoration: none;
  color: black;
}
.mainfour {
  padding-top: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 3rem;
}
.lastimg {
  width: 600px;
  height: 325px;
  filter: drop-shadow(5px 5px 10px gray);
}
.mainfive {
  /* text-align: center; */
  padding: 5rem;
  background-color: rgb(35, 172, 182);
}
.our {
  color: rgb(8, 8, 59);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 200%;
  padding-left: 67px;
  padding-top: 2rem;
}
.find {
  color: rgb(8, 8, 59);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding-bottom: 2rem;
}
.mainsix {
  text-align: center;
  padding-top: 3rem;
}
.subscribe {
  color: rgb(8, 8, 59);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 225%;
}
.recommended {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(8, 8, 59);
  font-size: 90%;
  padding-right: 2.5rem;
}
.mainseven {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 4rem;
}
.ooo {
  padding: 1.5rem;
  border: 0.5px solid rgba(128, 128, 128, 0);
  border-radius: 50px;
  padding-right: 350px;
  box-shadow: 0 0 10px gray;
  color: gray;
}
.orangeone {
  background-color: orangered;
  width: 150px;
  padding-right: 0.25rem;
  padding-left: 0.25rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  text-align: center;
  border-radius: 40px;
  box-shadow: 0 0 20px orangered;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.move {
  padding-left: 10px;
}
.lastone {
  padding-top: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.singleforthree {
  width: 50px;
  height: 50px;
}
.innerone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.lastt {
  background-color: rgb(28, 124, 161);
}
.dueto {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.mnm {
  display: flex;
  justify-content: center;
  padding-right: 6rem;
  padding-top: 1rem;
}
.qr {
  width: 150px;
  height: 150px;
  padding-left: 20px;
  filter: drop-shadow(5px 5px 10px black);
  padding-top: 1rem;
  border-radius: 25px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}
.socialmediafb {
  width: 50px;
  height: 50px;
  padding-right: 2rem;
  transition: 1s;
}
.socialmediain {
  width: 50px;
  height: 50px;
  padding-right: 2rem;
  transition: 1s;
}
.socialmediatw {
  width: 50px;
  height: 50px;
  padding-right: 2rem;
  transition: 1s;
}
.socialmedialink {
  width: 50px;
  height: 50px;
  transition: 1s;
}
.socialmediafb:hover {
  transform: scale(1.3);
  z-index: 2;
}
.socialmediain:hover {
  transform: scale(1.3);
  z-index: 2;
}
.socialmediatw:hover {
  transform: scale(1.3);
  z-index: 2;
}
.socialmedialink:hover {
  transform: scale(1.3);
  z-index: 2;
}

@media only screen and (max-width: 500px) {
  .first {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .imgone {
    width: 105px;
    height: 105px;
  }
  .arc {
    font-size: 4rem;
  }
  .head-div {
    display: flex;
    justify-content: center;
  }
  .nav-links {
    width: 100%;
    background-color: rgba(84, 84, 172, 0.575);
  }
  .main {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 39rem;
  }
  .best {
    font-size: 3rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
  }
  .mainin {
    display: flex;
    flex-direction: column;
  }
  .big {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    width: 96%;
    padding-bottom: 1rem;
  }
  .orange {
    font-size: 20px;
    padding: 25px;
    width: 150px;
  }
  .orange-one {
    font-size: 20px;
    padding: 25px;
    width: 150px;
  }
  .orange-two {
    font-size: 20px;
    padding: 25px;
    width: 150px;
  }
  .orange-three {
    font-size: 20px;
    padding: 25px;
    width: 150px;
  }
  .ten {
    padding-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 11rem;
    font-size: 70px;
    border-bottom: none;
    color: rgb(8, 8, 59);
  }

  .yy {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 2rem;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    padding: none;
  }
  .flow {
    width: 126px;
  }
  .imgfree {
    align-items: center;
    width: 2200px;
    height: 300px;
    padding-right: 2.5rem;
  }
  .gg {
    width: 37.7rem;
  }
  .secindmain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 37.25rem;
  }
  .we {
    text-align: center;
  }
  .linkfont {
    padding-left: 7.5rem;
  }
  .img-cont {
    display: none;
  }
  .fg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 11rem;
  }
  .wwe {
    width: 100%;
    text-align: center;
    font-size: 1.25rem;
    padding-bottom: 1rem;
  }
  .interiortwo {
    text-align: center;
    width: 19rem;
  }
  .mainfour {
    display: flex;
    flex-direction: column;
    width: 37.5rem;
    align-items: center;
    justify-content: center;
  }
  .mmm-one {
    padding-top: 2rem;
    padding-left: 2.5rem;
    padding-bottom: 2rem;
  }
  .mainfive {
    width: 27.5rem;
    /* text-align: center; */
    height: 13rem;
  }
  .our {
    width: 100%;
  }
  .find {
    width: 31.6rem;
    font-size: medium;
  }
  .mainsix {
    width: 37.5rem;
  }
  .subscribe {
    font-size: 2rem;
    text-align: center;
  }
  .recommended {
    padding-top: 1rem;
    padding-left: 3rem;
  }
  .mainseven {
    justify-content: center;
    align-items: center;
    width: 37.5rem;
  }
  .ooo {
    width: 1px;
  }
  .lastt {
    width: 37.5rem;
  }
  .innerone {
    font-size: 12px;
  }
  .dueto {
    font-size: small;
  }
  .qr {
    width: 140px;
    height: 150px;
    padding-bottom: 1rem;
  }
}
